<!DOCTYPE html>
<html>
<head>
  <title>DjBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body>
	<% if flash[:notice] %>
	<h3>
		<%= flash[:notice] %>
	</h3>
	<% end %>

	<% if flash[:alert] %>
	<h3>
		<%= flash[:alert] %>
	</h3>
	<% end %>

<div class="container-fluid">
  <div class="row">
    <a class="btn btn-default" href="/users/sign_in" role="button">Sign In</a>
	<a class="btn btn-default" href="/users/sign_out" role="button">Sign Out</a>
	<a class="btn btn-default" href="/" role="button">Home</a>
  </div>
</div>

<%= yield %>

	








</body>
</html>
